@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Open+Sans&family=Rubik&family=Ubuntu&family=Work+Sans:wght@300&display=swap");

body {
  scroll-behavior: smooth;
}

.nav_item {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 0, "opsz" 48;
}

.text1 {
  font-family: "josefin sans", sans-serif;
}

.start {
  height: calc(100rem - 5rem);
}

i,
li,
input,
svg {
  cursor: pointer;
}

.prbar::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  height: 88px;
  width: 0;
  border-radius: 0.8rem 0rem 0rem 0rem;
  background-color: #3f3c3c;
  animation: prbar 6s ease infinite;
}

.footer_icons {
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}

.footer_icons:hover {
  color: rgb(37, 99, 235);
}

.footer_btn {
  color: white;
  border: 2px solid white;
  transition: all 0.3s ease-in-out;
}

.footer_btn:hover {
  color: rgb(37, 99, 235);
  border: 2px solid rgb(37, 99, 235);
}

.footer_icons path {
  transition: all 0.3s ease-in-out;
  height: 40%;
}

.footer_icons path:hover {
  fill: rgb(37, 99, 235);
}

@keyframes prbar {
  0% {
    width: 0;
  }
  100% {
    width: 12.5rem;
  }
}

.store {
  cursor: pointer;
}
.store path {
  fill: white;
  transition: all 0.3s ease-in-out;
}

.store path:hover {
  fill: rgb(37, 99, 235);
}

.genre {
  color: #605959;
  border: 2px solid #605959;
  transition: all 0.3s ease-in-out;
}

.genre:hover {
  color: rgb(37, 99, 235);
  border: 2px solid rgb(37, 99, 235);
}

.card {
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.page_btn {
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_btn:hover {
  color: rgb(37, 99, 235);
  border: 2px solid rgb(37, 99, 235);
}

.game_desc {
  max-height: 31vh;
  overflow-y: hidden;
  width: 50vw;
  transition: all 0.4s ease-in-out;
}

.show-all {
  position: relative;
  min-height: none;
  transition: all 0.4s ease-in-out;
}
.btn {
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  color: #0078f2;
  border: 2px solid rgb(37, 99, 235);
  border-radius: 5px;
}
.btn2 {
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.btn2:hover {
  color: #0078f2;
  border: 2px solid rgb(37, 99, 235);
  border-radius: 5px;
}

.blur-overlay::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40vh;
  width: 100%;
  height: 50px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.screenshots {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.screenshots:hover {
  transform: scale(1.3);
  height: 55px;
  background-color: #2a2a2a;
  padding: 0.3rem;
  margin-left: 5px;
  margin-right: 5px;
}
.acinput {
  background: transparent;
  border: 1px solid #605959;
  border-radius: 5px;
  padding: 5px 10px;
  height: 3rem;
  width: 100%;
}
.acinput:focus {
  border: 1px solid white;
}
.profilebox {
  border: 1px solid #605959;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
#pic {
  display: none;
}
label[for="pic"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 40px;
  background: #cec3c3;
}
label[for="pic"] > svg {
  height: 50px;
}
.error_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-image: url("./utils/images/404notfound.png");
  background-repeat: no-repeat;
  background-size: 35rem;
  background-position: center;
}

.wishlist > path {
  fill: white;
  transition: all 0.4s ease-in-out;
}

.wishlist path:hover {
  fill: rgb(255, 0, 76);
}

@media screen and (min-width: 768px) {
  .nav_item::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%; /* Set the width to 100% to match the content width */
    bottom: 0;
    background-color: #0078f2;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
  }

  .nav_item:hover::after,
  .nav_item:focus::after {
    transform: scaleY(1);
    top: 50px;
  }

  .sub_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    height: 100%;
  }
}

.sub_navbar_md {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  position: absolute;
  right: 0;
  z-index: 30;
  background-color: #2a2a2a;
  min-width: 90vw;
  top: 55px;
}
.sub_navbar_md > a {
  border-top: 1px solid #605959;
  padding-left: 1rem;
}


@media screen and (max-width: 768px) {
  .btn {
    display: none;
  }

  .game_desc {
    max-height: none;
    overflow-y: hidden;
    transition: all 0.4s ease-in-out;
  }

  .acinput {
    background: transparent;
    border: 1px solid #605959;
    border-radius: 5px;
    padding: 5px 10px;
    height: 2rem;
    width: 100%;
  }
}

@media screen and(max-width:1024px) {
  .btn {
  }
  .btn2 {
    display: none;
    position: relative;
    left: 0rem;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    max-width: 20vw;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
  }
}
